<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Akaun Kerajaan Persekutuan
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-file-invoice-dollar fas ni text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Kewangan
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">
            Pembayaran AP 58(a) mengikut pejabat perakaunan
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="akp1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Senarai</h6>
          <h5 class="h3 mb-0">
            Akaun Badan Berkanun Persekutuan
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" data-toggle="checklist">
            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">KWSP</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Tabung Haji</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Bank Negara</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">PERKESO</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Majlis Agama Islam Wilayah Persekutuan</h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">
            Pembayaran AP 58(a) tahun
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="akp2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Bilangan baucar ap58(a)
                  </h5>

                  <span class=" h2 font-weight-bold mb-0"> 266,167 </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class="fas fa-money-bill-alt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Jumlah keseluruhan
                  </h5>

                  <span class=" h2 font-weight-bold mb-0"> 2,403,539,575 </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class="fas fa-money-bill-alt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Senarai</h6>
          <h5 class="h3 mb-0">
            Hasil analisis ap58(a)
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" data-toggle="checklist">
            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">5 Pejabat perakaunan tertinggi</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Pembayaran selepas bulan Jun</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Pembayaran melangkau tahun</h5>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-default">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Pembayaran salah key in tahun</h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">
            Bilangan baucar ap 58(a) tahun ini
          </h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="akp3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
