<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Lembaga Pembiayaan Perumahan Sektor Awam
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-file-invoice-dollar fas ni text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Kewangan
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Pinjaman perumahan</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="lppsa1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="card card-pricing bg-gradient-indigo border-0 text-center mb-4"
      >
        <div class="card-header bg-transparent">
          <h4 class="text-uppercase ls-1 text-white py-3 mb-0">
            Bilangan Pinjaman
          </h4>
        </div>

        <div class="card-body px-lg-7">
          <div class="display-2 text-white">1.26 M</div>
        </div>

        <div class="card-footer bg-transparent">
          <h4 class="ls-1 text-white mb-0">Jumlah Pinjaman</h4>
          <h5 class="text-uppercase ls-1 text-white mb-0">
            190,072,034,601.20
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="input-group input-group-merge">
                <input class="form-control" placeholder="Carian" type="text" />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-map-marker"> </i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-merge">
                <input class="form-control" placeholder="Carian" type="text" />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-map-marker"> </i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-merge">
                <input class="form-control" placeholder="Carian" type="text" />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-map-marker"> </i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-icon btn-primary" type="button">
                <span class="btn-inner--icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 px-2">
      <div class="card bg-gradient-red border-0">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Receivable - Civil Servant
              </h5>
              <div class="row">
                <div class="col">
                  <h1 class="text-white">190,702.20</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 px-2">
      <div class="card bg-gradient-red border-0">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Unearned Income - LMS
              </h5>
              <div class="row">
                <div class="col">
                  <h1 class="text-white">158,815.88</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 px-2">
      <div class="card bg-gradient-red border-0">
        <div class="card-body">
          <div class="row">
            <div class="col justify-content-center">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Financing Payable
              </h5>
              <div class="row">
                <div class="col justify-content-center">
                  <h1 class="text-white">190,071.48</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
