<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Audit Prestasi</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-chart-line fas ni text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Garis masa</h6>
          <h5 class="h3 mb-0">Proses pengauditan data</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="aup1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">
                <h5 class="h3 mb-0">Inventori aset</h5>
              </div>
              <div class="card-body">
                <div class="dataTables_wrapper">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="datatable_length">
                          <label>
                            Show
                            <select
                              name="datatable_length"
                              aria-controls="datatable"
                              class="form-control form-control-sm"
                              (change)="entriesChange($event)"
                            >
                              <option value="10" [selected]="entries == 10">10</option>
                              <option value="25" [selected]="entries == 25">25</option>
                              <option value="50" [selected]="entries == 50">50</option>
                              <option value="-1" [selected]="entries == -1">All</option>
                            </select>
                            entries
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div id="datatable_filter" class="dataTables_filter">
                          <label>
                            <input
                              type="search"
                              class="form-control form-control-sm"
                              placeholder="Search records"
                              aria-controls="datatable"
                              (keyup)="filterTable($event)"
                            />
                          </label>
                        </div>
                      </div>
                    </div>
          
                    <ngx-datatable
                      class="bootstrap selection-cell"
                      [columnMode]="'force'"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [rowHeight]="'auto'"
                      [limit]="entries != -1 ? entries : undefined"
                      [rows]="temp"
                      (activate)="onActivate($event)"
                    >
                      <ngx-datatable-column name="Name">
                        <ng-template ngx-datatable-header-template>
                          <span>Nama Dokumen</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.name}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Position">
                        <ng-template ngx-datatable-header-template>
                          <span>Jenis Dokumen</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.position}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Office">
                        <ng-template ngx-datatable-header-template>
                          <span>Jenis Aktiviti</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.office}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          <span>View/delete</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a class="btn btn-sm btn-neutral" (click)="lgModal.show()">
                            <i class="fas fa-edit text-dark"></i>
                          </a>
                          <a class="btn btn-sm btn-warning">
                            <i class="fas fa-ban text-white"></i>
                          </a>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
