<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Pengauditan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-building fas ni text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Syarikat
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Status pelaksanaan pengauditan</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="syp1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Jumlah kajian mengikut jenis</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="syp2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Pencapaian</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="syp3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="card">
          <div class="card-header">
            <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
            <h5 class="h3 mb-0">Status Kemajuan Pengauditan</h5>
          </div>
          <div class="card-body">
            <div class="chart">
              <div class="amchart" id="syp4"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
