<!-- heading -->
<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">GPIS</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-chart-line fas ni text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Prestasi
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- body -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-primary border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Jumlah Perolehan
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 785,964 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-info border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total Perolehan
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 785,964 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-danger border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
               Jumlah Amaun Perolehan (RM)
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 25.247B </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card bg-gradient-default border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                Total Amaun (RM)
              </h5>

              <span class="h2 font-weight-bold mb-0 text-white"> 25.247B </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Agensi 10 teratas</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="gpis1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-md-12">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Jumlah perolehan mengikut status pelaksanaan</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="gpis2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <!-- search form -->
        <div class="card">
          <div class="card-body py-0">
            <div class="row">
              <div class="col">
                <div class="input-group input-group-merge">
                  <input
                    class="form-control"
                    placeholder="Carian"
                    type="text"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />

                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fas fa-map-marker"> </i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn btn-icon btn-primary" type="button">
                  <span class="btn-inner--icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-body">
                  <ul
                    class="list-group list-group-flush"
                    data-toggle="checklist"
                  >
                    <li
                      class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                      <div class="checklist-item checklist-item-success">
                        <div class="checklist-info">
                          <h3 class="checklist-title mb-0">Sedang dilaksanakan</h3>

                          <small> 31,851 </small>
                        </div>
                      </div>
                    </li>

                    <li
                      class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                      <div class="checklist-item checklist-item-warning">
                        <div class="checklist-info">
                          <h3 class="checklist-title mb-0">Sakit</h3>

                          <small> 512 </small>
                        </div>
                      </div>
                    </li>

                    <li
                      class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                      <div class="checklist-item checklist-item-info">
                        <div class="checklist-info">
                          <h3 class="checklist-title mb-0">
                            Tangguh
                          </h3>

                          <small> 49 </small>
                        </div>
                      </div>
                    </li>

                    <li
                      class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                      <div class="checklist-item checklist-item-danger">
                        <div class="checklist-info">
                          <h3 class="checklist-title mb-0">Batal</h3>

                          <small> 1,422 </small>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
            <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
            <h5 class="h3 mb-0">Syarikat 10 teratas</h5>
          </div>
          <div class="card-body">
            <div class="chart">
              <div class="amchart" id="gpis3"></div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
            <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
            <h5 class="h3 mb-0">Nilai (rm) mengikut kaedah perolehan</h5>
          </div>
          <div class="card-body">
            <div class="chart">
              <div class="amchart" id="gpis4"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
