<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">iGFMAS</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fa-file-invoice-dollar fas ni text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Kewangan
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col">
          <div class="card bg-gradient-red border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-white"
                  >
                    Bilangan Rekod Transaksi Keseluruhan
                  </h5>
                  <div class="row">
                    <div class="col-auto">
                      <h1 class="text-white">476.91K</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card bg-gradient-blue border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-white"
                  >
                    Amaun Transaksi Keseluruhan
                  </h5>
                  <div class="row">
                    <div class="col-auto">
                      <h1 class="text-white">123.23B</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">
                    Tempoh Bank In Pungutan
                  </h2>
                  <h6 class="text-muted">
                    (kecuali Johor, Kedah, Kelantan & Terengganu)
                  </h6>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Bilangan Rekod:
                    </span>
                    <span class="h3 mb-1"> 10,117 </span>
                  </div>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Amaun Transaksi (RM):
                    </span>
                    <span class="h3 mb-1"> 173.34M </span>
                  </div>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow"
                  >
                    <i class="fas fa-hourglass-half"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-2">
                    Peraku 1 Sama Dengan...
                  </h2>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Bilangan Rekod:
                    </span>
                    <span class="h3 mb-1"> Tiada </span>
                  </div>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Amaun Transaksi (RM):
                    </span>
                    <span class="h3 mb-1"> Tiada </span>
                  </div>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow"
                  >
                    <i class="fas fa-poll"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">
                    Tempoh Bank In Pungutan
                  </h2>
                  <h6 class="text-muted">
                    (Johor, Kedah, Kelantan & Terengganu)
                  </h6>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Bilangan Rekod:
                    </span>
                    <span class="h3 mb-1"> 2,433 </span>
                  </div>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Amaun transaksi (RM):
                    </span>
                    <span class="h3 mb-1"> 40.44M </span>
                  </div>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow"
                  >
                    <i class="fas fa-hourglass-half"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h2 class="card-title text-uppercase text-muted mb-0">
                    Tarikh Slip Bank Dahulu
                  </h2>
                  <h6 class="text-muted">
                    sebelum peraku 2
                  </h6>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Bilangan Rekod:
                    </span>
                    <span class="h3 mb-1"> 1,764 </span>
                  </div>
                  <div>
                    <span class="h5 font-weight-bold mb-1">
                      Amaun transaksi (RM):
                    </span>
                    <span class="h3 mb-1"> 36.30M </span>
                  </div>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow"
                  >
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Carta</h6>
          <h5 class="h3 mb-0">Keseluruhan pejabat</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="igfmas1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
